.env
.pytest_cache
__pycache__

.venv

Projects/
torus_dll/
Digital-Thread.sln

data/
.vs
.vscode
Release/

Operation_Manager/front_app/.next/
Operation_Manager/front_app/node_modules/
Operation_Manager/front_app/.env.local
Operation_Manager/front_app/next-env.d.ts

tmp/